@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
:root {
    --font-family-sans-serif: "Open Sans Condensed", "Dosis", "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
    color: #44989b;
}

button {
    height: 50px;
    width: 100px;
    background-color: #44989b;
    color: black;
    margin-top: 20px;
    font-size: large;
}

.navbar-brand {
    font-family: Quicksand;
}

.jumbotronp {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #44989b;
    border-radius: 0.3rem;
    font-family: Dosis;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #44989b;
    border-radius: 0.3rem;
    font-family: Dosis;
    font-size: large;
}

.product-button {
    margin-bottom: 2%;
    margin-right: 2%;
}


#searchbar2{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    #search_input2{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    #searchbar2:hover > .search_input2{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    #searchbar2:hover > .search_icon2{
    background: white;
    color: #e74c3c;
    }

    #search_icon2{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }